{% extends 'base.html.twig' %}

{% block title %}Novo Produto{% endblock %}

{% block body %}
    <h1>Cadastrar novo Produto</h1>

    {{ include('produto/_form.html.twig') }}

    <a href="{{ path('produto_index') }}">voltar a lista</a>
{% endblock %}
